n8n-workflows/social-media-automation.json
{
  "name": "Social Media Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "social-post"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract payload data\nconst body = $input.first().json.body;\n\n// Required fields\nconst text = body.text;\nif (!text || typeof text !== 'string') {\n  throw new Error('Missing or invalid required field: text');\n}\n\n// Optional fields\nconst mediaUrls = body.mediaUrls || [];\nconst altText = body.altText || '';\nconst replyTo = body.replyTo || null;\n\n// Character limit check (X allows 280 chars)\nif (text.length > 280) {\n  throw new Error(`Text exceeds 280 characters (${text.length} chars provided)`);\n}\n\n// Validate media URLs if provided\nif (mediaUrls.length > 4) {\n  throw new Error('Maximum 4 media attachments allowed');\n}\n\n// Return formatted output\nreturn [{\n  json: {\n    text: text.trim(),\n    mediaUrls: mediaUrls,\n    altText: altText,\n    replyTo: replyTo,\n    hasMedia: mediaUrls.length > 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-payload",
      "name": "Validate & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-media",
              "leftValue": "={{ $json.hasMedia }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-media",
      "name": "Has Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mock node for media upload to X\n// When credentials are configured, replace with:\n// n8n-nodes-base.twitter (or X node)\n\nconst item = $input.first().json;\nconst mediaIds = [];\n\n// Simulate media upload process\nfor (const url of item.mediaUrls) {\n  // In production: Upload media to X and get media_id\n  // const mediaId = await uploadMedia(url);\n  mediaIds.push(`mock_media_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`);\n}\n\nreturn [{\n  json: {\n    ...item,\n    mediaIds: mediaIds,\n    mediaUploaded: true\n  }\n}];"
      },
      "id": "upload-media",
      "name": "Upload Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Mock node for X/Twitter post\n// When credentials are configured, replace with:\n// n8n-nodes-base.twitter (Post tweet action)\n\nconst item = $input.first().json;\n\n// Simulate posting to X\nconst mockPostId = `x_post_${Date.now()}`;\n\nreturn [{\n  json: {\n    success: true,\n    postId: mockPostId,\n    text: item.text,\n    mediaCount: item.mediaIds ? item.mediaIds.length : 0,\n    postedAt: new Date().toISOString(),\n    platform: 'X (Twitter)',\n    url: `https://twitter.com/user/status/${mockPostId}`\n  }\n}];"
      },
      "id": "post-with-media",
      "name": "Post to X (w/ Media)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Mock node for X/Twitter post without media\n// When credentials are configured, replace with:\n// n8n-nodes-base.twitter (Post tweet action)\n\nconst item = $input.first().json;\n\n// Simulate posting to X\nconst mockPostId = `x_post_${Date.now()}`;\n\nreturn [{\n  json: {\n    success: true,\n    postId: mockPostId,\n    text: item.text,\n    mediaCount: 0,\n    postedAt: new Date().toISOString(),\n    platform: 'X (Twitter)',\n    url: `https://twitter.com/user/status/${mockPostId}`\n  }\n}];"
      },
      "id": "post-text-only",
      "name": "Post to X (Text)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Merge both paths back together\nconst items = $input.all();\nreturn items;"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Post published successfully',\n    data: {\n      postId: result.postId,\n      platform: result.platform,\n      url: result.url,\n      textPreview: result.text.substring(0, 100) + (result.text.length > 100 ? '...' : ''),\n      mediaCount: result.mediaCount,\n      postedAt: result.postedAt\n    }\n  }\n}];"
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "content": "={{$json.message}}",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1450, 50]
    },
    {
      "parameters": {
        "errorMessage": "={{$json.error}}",
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [850, 550]
    },
    {
      "parameters": {
        "jsCode": "// Handle errors and format response\nconst error = $input.first().json.error || 'Unknown error';\nconst errorDetails = $input.first().json.errorDetails || {};\n\nreturn [{\n  json: {\n    status: 'error',\n    message: 'Failed to publish post',\n    error: error,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 550]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 550]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "social-media",
      "id": "tag-social",
      "createdAt": "2026-02-03T00:00:00.000Z",
      "updatedAt": "2026-02-03T00:00:00.000Z"
    },
    {
      "name": "automation",
      "id": "tag-auto",
      "createdAt": "2026-02-03T00:00:00.000Z",
      "updatedAt": "2026-02-03T00:00:00.000Z"
    },
    {
      "name": "twitter",
      "id": "tag-twitter",
      "createdAt": "2026-02-03T00:00:00.000Z",
      "updatedAt": "2026-02-03T00:00:00.000Z"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Has Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media?": {
      "main": [
        [
          {
            "node": "Upload Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to X (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media": {
      "main": [
        [
          {
            "node": "Post to X (w/ Media)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X (w/ Media)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X (Text)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}